<section class="caraousel">
    <div class="caraousel">
        <div class="caraousel__first"></div>
        <div class="caraousel__second"></div>
        <a href="#" class="caraousel__button-right">RIGHT</a>
        <a href="#" class="caraousel__button-left">LEFT</a>
    </div>
</section>