
        <section class="header">
            <div>
                <ul class ="header__main">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Nearby Location</a></li>
                    <li><a href="/search">Download App</a></li>
                    <span>
                        <li><a href="#">Register</a><a> | <a></a><a href="#" >Login</a></li> 
                    </span>
                </ul>
            </div>
        </section>

