$main__header-color-black : #000;
$main__header-color-white: #fff;
$main__header-font : 1rem;
$main__header-space: 4rem;
$main__header-bckg: #ff2600e1;
$main__header-padding: 0.5rem;
$main__header-padding-left: 1rem;
$main__header-padding-right: 1rem;
$width-inner-page: 80%;
$width-inner-popup: 60%;
$vertical-main-content: 30%;
$horizontal-left-content: 5%;
$horizontal-right-content: 50%;
$vertical-popup-height: 10%;
